body {
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

/* HEADER */

.secondary-menu {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.logo-link {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.logo-link:hover,
.logo-link:focus {
  background-color: #ca2c37;
}

.logo-link:active {
  background-color: #ba2732;
}

.search-form input {
  color: #ffffff;

  background-color: #293449;
  border: none;
}

.search-form input:hover {
  background-color: #212a3a;
}

.search-form input:focus {
  color: #000000;

  background-color: #ffffff;
}

.search-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}

.search-form input::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}

.search-form input:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}

.search-form input:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}

.header-link {
  color: #ffffff;
}

.header-link:hover,
.header-link:focus {
  background-color: #212a3a;
}

.header-link:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.cart-not-empty {
  background-color: #ee3643;
}

.cart-not-empty:hover,
.cart-not-empty:focus {
  background-color: #ca2c37;
}

.cart-not-empty:active {
  background-color: #ba2732;
}

.header-link-order {
  color: #ffffff;

  background-color: #63a63e;
}

.header-link-order:hover,
.header-link-order:focus {
  background-color: #5fbb2d;
}

.header-link-order:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-submenu {
  color: #ffffff;

  background-color: #f3f7f9;
}

.main-title {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.header-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-address {
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  color: #32425c;
}

.user-navigation-list {
  list-style: none;
}

.user-navigation-list a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff; 
}

.user-navigation-list a:hover,
.user-navigation-list a:focus {
  color: #ee3643;  
}

.user-navigation-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.profile-info {
  background-color: #ffffff;
}

.profile-info a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.profile-navigation a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.profile-navigation a:hover,
.profile-navigation a:focus {
  color: #ee3643;
}

.profile-info a:active,
.profile-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation {
  color: #ffffff;

  background-color: #32425c;
}

.navigation-list {
  list-style: none;
}

.navigation-item a:hover,
.navigation-item a:focus {
  background-color: #293449;
}

.navigation-item a:active {
color: rgba(255, 255, 255, 0.5);
}

.navigation-item a {
  color: #ffffff;
}


/* INDEX MAIN */

.tiles-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.tiles-link {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1px;
}

.tiles-link:hover,
.tiles-link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.tiles-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}


.tiles-item:nth-child(2) {
  background-color: #ffbf47;
}

.tiles-item:nth-child(3) {
  background-color: #3bbce3;
}

.tiles-item:nth-child(5) {
  background-color: #dc91d8;
}

.tiles-item:nth-child(6) {
  background-color: #8ed78f;
}

.tiles-item:nth-child(7) {
  background-color: #ffc047;
}


.section-title {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.section-text {
  font-family: "PT SANS", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.promo-title {
  color: #32425c;
}

.popular-heading {
  background-color: #f9f5f0;
}


.companies-list {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.btn {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: 0;
  border-radius: 1px;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.feedback-form label {
  font-size: 18px;
  line-height: 18px;
}

.feedback-form input,
.feedback-form textarea {
  border: 2px solid #d7dcde;
}

.feedback-form input:hover,
.feedback-form input:focus,
.feedback-form textarea:hover,
.feedback-form textarea:focus {
  border: 2px solid #b5b5b5;
  outline: none;
}

.feedback-form input:active,
.feedback-form textarea:active {
  border: 2px solid #ee3643;
}

/* CATALOG MAIN */

.breadcrumb {
  list-style: none;
}

.breadcrumb a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
}

.filter, 
.product-list {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}

.filter {
  text-transform: uppercase;
}

.catalog-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;

  background-color: #f2f6f8;
}

.filter-title,
.sorting-title,
.sorting {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter-form legend {
  font-size: 17px;
  line-height: 31px;
  font-weight: 700;
}

.price input {
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  background-color: #f7f3ec;
  border: 0;
}

.price input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}

.price input::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}

.price input:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}

.price input:-moz-placeholder { /* Firefox 18- */
  color: #000000;
}

.filter-form label {
  font-size: 15px;
  line-height: 20px;
}

.filter-form button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 1px;
}

.sorting ul{
  list-style: none;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #ee3643;
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.active-item a {
  color: #ee3643;
  border: 0;
}

.pagination-list {
  list-style: none;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  border: 1px solid #e5e5e5;
}

.hover-links {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.hover-links a {
  color: #ffffff;
  text-transform: uppercase;

  background-color: #63a63e;
  border-radius: 1px;
}

.hover-links a:hover,
.hover-links a:focus {
  background-color: #5fbb2d;
}

.hover-links a:active {
  background-color: #518534;
}

.hover-links button {
  font: inherit;
  text-align: center;
  color: #32425c;
  vertical-align: middle;
  text-transform: uppercase;

  border: 3px solid #63a63e;
}

.hover-links button:hover,
.hover-links button:focus {
  border-color: #32425c;
}

.hover-links button:active {
  color: rgba(50, 66, 92, 0.3);
  border-color: #c1c6ce;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.discount {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: line-through;
  color: #999999;
}

.item-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}


.pagination-list a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 1px;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #ffffff;

  border: none;
}

.pagination-list a:hover,
.pagination-list a:focus {
  border-color: #bdc6ca;
}

.pagination-list a:active {
  color: #000000;

  border-color: #ee3643;
}

.about-products {
  color: #000000;

  background-color: #f2f6f8;
}

.about-products-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-products-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* FOOTER */ 

.main-footer {
  color: #ffffff;

  background-color: #32425c;
}

.footer-contact-us {
  color: #ffffff;

  background-color: #293449;
}

.main-footer ul {
  list-style: none;
}

.logo-footer {
  font-size: 30px;
  line-height: 30px;
}

.footer-address {
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-address a {
  color: #f1f5f7;
}

.footer-navigation {
  font-size: 18px;
  line-height: 24px;
}


.footer-navigation-list-1 a {
  color: #f1f5f7;
}

.footer-navigation-list-2 a {
  color: #ffd180;
}

.footer-navigation-list-1 a:hover,
.footer-navigation-list-1 a:focus,
.footer-navigation-list-2 a:hover,
.footer-navigation-list-2 a:focus {
  text-decoration: underline;
}

.footer-navigation-list-1 a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-navigation-list-2 a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
}

.feedback,
.developed {
  font-size: 16px;
  line-height: 18px;
}

.feedback a,
.developed a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.feedback a:hover,
.feedback a:focus,
.developed a:hover,
.developed a:focus {
  text-decoration: underline;
}

.feedback a:active,
.developed a:active {
  text-decoration: none;
  color: #ee3643;
}

