body {
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* HEADER */

.main-header {
  margin-bottom: 59px;
}

.secondary-menu {
  display: flex;
  justify-content: space-between;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.secondary-menu-wrapper {
  background-color: #293449;
}

.menu-wrapper {
  padding-bottom: 64px;

  color: #ffffff;

  background-color: #f4f7f9;
}

.container {
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.logo-link {
  display: block;
  padding-top: 11px;
  padding-bottom: 7px;
  width: 220px;

  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  background-color: #ee3643;
  box-shadow: 0px 5px #b52933;
}

.logo-link:hover,
.logo-link:focus {
  background-color: #ca2c37;

  box-shadow: 0px 5px #9a212a;
}

.logo-link:active {
  background-color: #ba2732;

  box-shadow: 0px 5px #8e1e26;
}

.search-form {
  position: relative;
}

.search-form input {
  width: 270px;
  height: 42px;
  padding-left: 49px;
  
  color: #ffffff;

  background-color: #293449;
  border: none;
}

.search-form svg {
  position: absolute;

  width: 17px;
  height: 17px;
  top: 13px;
  left: 17px;

  opacity: 0.3;
}

.search-form input:hover {
  background-color: #212a3a;
}

.search-form input:hover + svg,
.search-form input:focus + svg {
  opacity: 1;
}

.search-form input:focus + svg > path {
  fill: #ee3643;
}

.search-form input:focus {
  color: #000000;

  outline: none;
  background-color: #ffffff;
}

.search-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}

.search-form input::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}

.search-form input:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}

.search-form input:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}

.header-link {
  display: block;
  width: 100px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;

  color: #ffffff;
}

.header-link-bookmarks {
  width: 106px;
  padding-left: 44px;
  position: relative;
}

.header-link-bookmarks::before {
  content: "";
  
  position: absolute;
  left: 17px;
  
  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-link-cart {
  position: relative;
}

.header-link-cart::before {
  content: "";

  position: absolute;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}


.header-link:hover,
.header-link:focus {
  background-color: #212a3a;
}

.header-link:hover::before,
.header-link:focus::before {
  opacity: 1;
}

.header-link:active::before {
  opacity: 0.5;
}


.header-link:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.cart-not-empty {
  background-color: #ee3643;
}

.cart-not-empty:hover,
.cart-not-empty:focus {
  background-color: #ca2c37;
}

.cart-not-empty:active {
  background-color: #ba2732;
}

.header-link-order {
  width: 130px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;

  color: #ffffff;

  background-color: #63a63e;
}

.header-link-order:hover,
.header-link-order:focus {
  background-color: #5fbb2d;
}

.header-link-order:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-submenu {
  display: flex;
  padding-top: 46px;
  margin-bottom: 39px;
}

.main-title {
  margin: 0;
  width: 200px;
  padding-top: 3px;
  padding-left: 52px;
  padding-right: 48px;
  margin-right: 20px;

  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;
}

.header-contacts {
  width: 270px;
  padding-right: 31px;

  margin-right: 20px;
}

.header-phone {
  position: relative;
  display: block;
  padding-right: 39px;
  padding-left: 71px;
  padding-top: 9px;
  padding-bottom: 8px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-phone::before {
  content: "";

  position: absolute;

  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.header-address {
  padding-top: 5px;

  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}


.user-navigation-item:nth-child(1) a {
  position: relative;

  display: block;
  width: 73px;
  padding-left: 47px;
  margin-right: 10px;
}

.user-navigation-item:nth-child(2) a {
  display: block;
  width: 150px;

  text-align: center;
}

.user-navigation-item svg {
  position: absolute;

  left: 14px;
  top: 14px;

  width: 20px;
  height: 17px;

  opacity: 0.3;
}

.user-navigation-list {
  display: flex;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  width: 280px;

  list-style: none;
}

.user-navigation-list a {
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff; 
}

.user-navigation-list a:hover,
.user-navigation-list a:focus {
  color: #ee3643;  
}

.user-navigation-list a:hover path,
.user-navigation-list a:focus path {
  fill: #32425c;
}

.user-navigation-list a:hover svg, 
.user-navigration-list a:hover svg {
  opacity: 1;
}

.user-navigation-list a:active path {
  fill: #c5c5c5;
}

.user-navigation-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.profile {
  width: 299px;
}

.profile-info {
  padding-top: 11px;
  padding-bottom: 12px;

  background-color: #ffffff;
}

.profile-info a {
  padding-right: 32px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.log-in {
  padding-left: 13px;
}

.log-in svg {
  position: relative;
  top: 2px;

  padding-right: 8px;
}

.log-out svg {
  position: relative;
  top: 2px;
}

.profile-navigation {
  position: relative;

  padding-top: 7px;
  padding-left: 18px;
}

.profile-navigation::after {
  content: "";

  position: absolute;
  top: 14px;
  left: 107px;

  width: 4px;
  height: 4px;
  border-radius: 50%;

  background-color: #32425c;
}

.profile-navigation a:first-child {
  padding-right: 27px;
}

.profile-navigation a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.profile-navigation a:hover,
.profile-navigation a:focus {
  color: #ee3643;
}

.profile-info a:active,
.profile-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation {
  color: #ffffff;

  background-color: #32425c;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;

  list-style: none;

  box-shadow: 0px 5px #293449;
}

.navigation-item a:hover,
.navigation-item a:focus {
  background-color: #293449;
}

.navigation-item a:active {
  color: rgba(255, 255, 255, 0.5);
}

.navigation-item a {
  display: block;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 30px;
  padding-right: 30px;

  color: #ffffff;
}

.navigation-item:first-child a {
  padding-left: 52px;
}

.navigation-item:last-child a {
  padding-right: 55px;
}

/* INDEX MAIN */

.btn {
  display: inline-block;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 41px;
  padding-left: 41px;

  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: 0;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.tiles-menu {
  display: flex;

  margin-bottom: 33px;
}

.tiles-item {
  position: relative;

  width: 300px;
  height: 123px;
}

.slider {
  position: relative;

  width: 620px;
  height: 266px;

}

.slider-title {
  position: absolute;

  left: 24px;
  top: 23px;

  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.slider-text {
  position: absolute;

  left: 25px;
  top: 62px;

  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.btn-slider {
  position: absolute;

  left: 25px;
  bottom: 24px;

  width: 195px;
  padding-right: 0;
  padding-left: 0;

}

.slider-left {
  border: none;
  padding: 0;

}

.slide-left::after {
  content: "";

  position: absolute;



  width: 22px;
  height: 40px;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
}

.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.left-column-tiles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 622px;

  margin-right: 20px;
}

.right-column-tiles {
  display: flex;
  flex-direction: column;
}

.right-column-tiles .tiles-item {
  margin-bottom: 20px;
}

.tiles-title {
  padding-left: 23px;
  padding-top: 22px;
  margin: 0;
  margin-bottom: 12px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.tiles-link {
  display: inline-block;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 25px;

  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.tiles-link:hover,
.tiles-link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.tiles-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}


.left-column-tiles .tiles-item:nth-of-type(1) {
  background-color: #ffbf47;
}

.left-column-tiles .tiles-item:nth-of-type(1)::after {
  content: "";

  position: absolute;

  right: 43px;
  top: 31px;

  width: 44px;
  height: 65px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.left-column-tiles .tiles-item:nth-of-type(2) {
  background-color: #3bbce3;
}

.left-column-tiles .tiles-item:nth-of-type(2)::after {
  content: "";

  position: absolute;

  right: 28px;
  top: 33px;

  width: 75px;
  height: 61px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.right-column-tiles .tiles-item:nth-of-type(1) {
  background-color: #dc91d8;
}

.right-column-tiles .tiles-item:nth-of-type(1)::after {
  content: "";

  position: absolute;

  right: 31px;
  top: 31px;

  width: 78px;
  height: 62px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.right-column-tiles .tiles-item:nth-of-type(2) {
  background-color: #8ed78f;
}

.right-column-tiles .tiles-item:nth-of-type(2)::after {
  content: "";

  position: absolute;

  right: 45px;
  top: 26px;

  width: 59px;
  height: 72px;

  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
}

.right-column-tiles .tiles-item:nth-of-type(3) {
  background-color: #ffc047;
}

.right-column-tiles .tiles-item:nth-of-type(3)::after {
  content: "";

  position: absolute;

  right: 31px;
  top: 32px;

  width: 78px;
  height: 63px;

  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
}

.popular-products {
  margin-bottom: 21px;
}

.section-title {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.section-text {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.promo-title {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;

  font-weight: 400;

  color: #32425c;
}

.popular-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  background-color: #f9f5f0;
}

.btn-popular {

  width: 253px;
  padding-right: 0;
  padding-left: 0;
  margin-right: 24px;
}

.popular-manufacturer {
  padding-bottom: 64px;
}

.manufacturer-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.manufacturer-item {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 20px;
  width: 218px;
  height: 143px;

  border: 1px solid #e5e5e5;
}

.manufacturer-item:hover,
.manufacturer-item:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  transition: 0.5s;
}

.manufacturer-item:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.services {
  padding-top: 66px;
  padding-bottom: 102px;
  margin-bottom: 75px;

  background-color: #f4f8f9;
}

.services-title {
  margin: 0;
  margin-bottom: 26px;

  font-weight: 400;
}

.services .section-text {
  margin: 0;
}

.services-item-text {
  margin: 0;
  margin-bottom: 31px;
  width: 378px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.delivery {
  position: relative;

  width: 275px;
}

.delivery::after {
  content: "";

  position: absolute;
  right: -344px;
  top: -36px;
  
  width: 468px;
  height: 261px;

  background-image: url("../img/service-slider-1.png");
  background-repeat: no-repeat;
}

.guarantee {
  position: relative;

  width: 378px;
}

.guarantee::after {
  content: "";

  position: absolute;
  right: -230px;
  top: -60px;
  
  width: 389px;
  height: 283px;

  background-image: url("../img/service-slider-2.png");
  background-repeat: no-repeat;
}

.credit {
  position: relative;
}

.credit::after {
  content: "";

  position: absolute;
  right: -230px;
  top: -60px;
  
  width: 465px;
  height: 285px;

  background-image: url("../img/service-slider-3.png");
  background-repeat: no-repeat;
}

.section-slider {
  display: flex;

  padding-top: 67px;
}

.buttons-list,
.services-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.buttons-list {
  position: relative;

  width: 240px;
  margin-right: 80px;
}

.buttons-list::after {
  content: "";

  position: absolute;
  right: 0px;
  top: -40px;


  width: 10px;
  height: 272px;

  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
}

.buttons-list button:hover:not(.active-button),
.buttons-list button:focus:not(.active-button) {
  background-color: #293449;

}

.buttons-list button {
  width: 240px;
  height: 61px;
  padding-left: 22px;
  margin-bottom: 1px;


  font: inherit;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  background-color: #32425c;
  border: 0;
  box-shadow: inset 0px 1px 0px #405069,
                    0px 1px 0px #293449;
}

button.active-button {
  height: 61px;

  color: #32425c;

  background-color: #ffffff;
  box-shadow: inset 0px 1px 0px #ffffff,
                    0px 1px 0px #ffffff;
  ;
}

.services-item-title {
  margin: 0;
  margin-bottom: 24px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.index-colums {
  display: flex;
  justify-content: space-between;
  padding-bottom: 86px;
}

.about-company {
  width: 540px;
}

.about-company .section-title {
  margin-bottom: 26px;
}

.about-company .section-text:nth-child(3) {
  width: 390px;

  padding-top: 24px;
  padding-bottom: 21px;
}

.companies-list {
  padding: 0;
  padding-left: 36px;
  margin: 0;
  margin-bottom: 17px;

  font-size: 18px;
  line-height: 20px;
  color: #000000;

  list-style:none;
}

.companies-item {
  position: relative;

  padding-bottom: 20px;
}

.companies-item::before {
  content: "";

  position: absolute;
  left: -36px;
  top: 9px;

  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.contacts .section-title {
  margin-bottom: 26px;
}

.contacts .section-text {
  width: 178px;
  margin-bottom: 31px;
}

.contacts {
  width: 300px;
}

.contacts img {
  margin-bottom: 37px;
}

.btn-contacts {
  width: 100%;
  padding-right: 35px;
}

.feedback-form label {
  font-size: 18px;
  line-height: 18px;
}

.feedback-form input,
.feedback-form textarea {
  border: 2px solid #d7dcde;
}

.feedback-form input:hover,
.feedback-form input:focus,
.feedback-form textarea:hover,
.feedback-form textarea:focus {
  border: 2px solid #b5b5b5;
  outline: none;
}

.feedback-form input:active,
.feedback-form textarea:active {
  border: 2px solid #ee3643;
}

/* CATALOG MAIN */

.catalog {
  margin-bottom: 21px;
}

.breadcrumb {
  
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  list-style: none;
}

.breadcrumb a {
  position: relative;

  padding-right: 40px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumb a:not(.home)::before {
  content: "";

  position: absolute;
  top: 1px;
  left: -25px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.home {
  position: relative;
  right: 2px;
  top: 3px;

  display: block;
  width: 15px;
  height: 12px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
}


.catalog-colums {
  display: flex;
  justify-content: space-between;
}

.filter, 
.product-list {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}

.filter {
  width: 220px;

  text-transform: uppercase;
}

.manufacturer,
.power {
  display: flex;
}

.product-list {
  width: 700px;
}

.catalog-title {
  padding-top: 30px;
  padding-left: 28px;
  padding-bottom: 29px;
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

.filter-title,
.sorting-title,
.sorting {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter-title {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  margin: 0;
}


.filter-form fieldset {
  padding: 0;
  margin: 0;

  border: 0;
}

.filter-form legend {
  font-size: 17px;
  line-height: 31px;
  font-weight: 700;
}

.price-columns {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price input {
  width: 95px;
  height: 38px;

  font-size: 17px;
  line-height: 18px;
  color: #000000;
  text-align: center;

  background-color: #f7f3ec;
  border: 0;
  border-radius: 3px;
}

.price input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}

.price input::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}

.price input:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}

.price input:-moz-placeholder { /* Firefox 18- */
  color: #000000;
}

.filter-form label {
  font-size: 15px;
  line-height: 20px;
}

.filter-form button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 1px;
}


.sorting {
  display: flex;
}

.sorting-title {
  width: 140px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 19px;
  margin: 0;
}

.sorting ul{
  display: flex;
  justify-content: space-between;
  width: 460px;;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;

  list-style: none;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #ee3643;
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.active-item a {
  color: #ee3643;
  border: 0;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}



.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;

  list-style: none;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 218px;

  border: 1px solid #e5e5e5;
}

.catalog-item .hover-links {
  display: none;
}

.catalog-item:hover .hover-links {
  display: flex;
  transition: 
}

.catalog-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.img-block {
  display: flex;
  align-items: center;
  height: 180px;
}


.hover-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 45px;

  width: 218px;
  height: 100px;

  background-color: #ffffff;


  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.hover-links a {

  width: 135px;

  padding-top: 12px;
  padding-bottom: 8px;


  margin-bottom: 10px;


  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #63a63e;
  border-radius: 3px;
  box-shadow: 0 3px 0px #367315;
}

.hover-links a:hover,
.hover-links a:focus {
  background-color: #5fbb2d;
}

.hover-links a:active {
  background-color: #518534;
  box-shadow: 0 3px 0px #518534;
}

.hover-links button {
  width: 135px;
  padding-top: 9px;
  padding-bottom: 8px;

  font: inherit;
  text-align: center;
  color: #32425c;
  vertical-align: middle;
  text-transform: uppercase;

  border: 3px solid #63a63e;
}

.hover-links button:hover,
.hover-links button:focus {
  border-color: #32425c;
}

.hover-links button:active {
  color: rgba(50, 66, 92, 0.3);
  border-color: #c1c6ce;
}

.catalog-item-title {
  order: 1;

  margin: 0;
  margin-bottom: 11px;
  padding-left: 30px;
  padding-right: 31px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.discount {
  order: 2;

  margin: 0;
  margin-left: 4px;
  margin-bottom: 9px;
  min-height: 18px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: line-through;
  color: #999999;
}

.item-price {
  position: relative;
  
  order: 3;

  margin: 0;
  margin-bottom: 20px;
  margin-right: 4px;
  padding-top: 11px;
  padding-right: 27px;
  padding-bottom: 9px;
  padding-left: 36px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.item-price::after {
  content: "";

  position: absolute;
  right: -31px;
  bottom: 0px;

  border: 19px solid #ffffff;

  border-left-color: #ee3643;
}


.pagination-list {
  margin-bottom: 60px;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child a{
  padding-right: 31px;
  padding-left: 31px;
}

.pagination-list a {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 13px 16px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.pagination-list a:hover,
.pagination-list a:focus {
  border-color: #bdc6ca;
}

.pagination-list a:active {
  color: #000000;

  border-color: #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #ffffff;

  border: none;
}

.about-products {
  padding-top: 62px; 
  padding-bottom: 72px;

  color: #000000;

  background-color: #f2f6f8;
}

.about-products-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-products-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* FOOTER */ 

.main-footer {
  color: #ffffff;

  background-color: #32425c;
}

.footer-colums {
  display: flex; 
  justify-content: space-between;
}

.footer-contact-us {
  padding-top: 36px;
  padding-bottom: 31px;

  color: #ffffff;

  background-color: #293449;
}

.logo-footer {
  margin-bottom: 34px;
  padding-top: 18px;
  padding-bottom: 14px;

  font-size: 30px;
  line-height: 30px;
}

.footer-contact-info {
  padding-bottom: 48px;
  padding-right: 50px;
}

.footer-address {
  padding-left: 4px;

  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-address a {
  color: #f1f5f7;
}

.footer-navigation {
  padding-top: 37px;

  font-size: 18px;
  line-height: 24px;
}

.footer-navigation-list-1,
.footer-navigation-list-2 {
  display: flex;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  list-style: none;
}

ul.footer-navigation-list-1 {
  width: 547px;
  padding-left: 3px;
  margin-bottom: 35px;
}

ul.footer-navigation-list-2 {
  padding-left: 26px;
  width: 524px;
}

.footer-navigation-list-1 a {
  color: #f1f5f7;
}

.footer-navigation-list-2 a {
  color: #ffd180;
}

.footer-navigation-list-1 a:hover,
.footer-navigation-list-1 a:focus,
.footer-navigation-list-2 a:hover,
.footer-navigation-list-2 a:focus {
  text-decoration: underline;
}

.footer-navigation-list-1 a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-navigation-list-2 a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.copyright-block {
  width: 230px;
  margin-right: 160px;
}

.copyright {
  margin: 0;

  font-size: 16px;
  line-height: 18px;
}

.social-list {
  display: flex;
  justify-content: space-between;

  width: 131px;
  padding: 0;
  margin: 0;
  padding-right: 19px;
  margin-right: 100px;

  list-style: none;
}

.social-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: #212a3a;
}

.social-item:nth-child(1) {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-item:nth-child(2) {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-item:nth-child(3) {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback,
.developed {
  margin: 0;

  font-size: 16px;
  line-height: 18px;
}

.developed {
  width: 111px;
  padding-left: 29px;
}

.feedback {
  width: 140px;
  margin-right: 20px;
}

.feedback a,
.developed a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.feedback a:hover,
.feedback a:focus,
.developed a:hover,
.developed a:focus {
  text-decoration: underline;
}

.feedback a:active,
.developed a:active {
  text-decoration: none;
  color: #ee3643;
}

